<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campomercio inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style1.css"> 
</head>
<body>
    <header>
        <ul class="topnav">
            <!-- <li><img src="static/img/images/aspho.PNG" id="icon"></li> -->
            <li><a class="active" href="#home">Campomercio</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <!-- Button to open the modal -->
            <!-- <li class="rigth" style="float:right"><button id="myBtn">Registro</button></li> -->
            <li style="float:right"><a id="myBtn" class="btn btn-success">Registro</a></li>
        </ul>
    </header>

    <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="https://images.unsplash.com/photo-1595319872187-3317e49114b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" style="width:100%">
        <div class="text">Por mas diversidad de productos</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="https://img.freepik.com/foto-gratis/agricultor-que-usa-pala-cavar-suelo-sus-campos-arroz_1150-17239.jpg?t=st=1662960028~exp=1662960628~hmac=401bfb56c434163b9496cf7da8574ceabfb961e6523a90378673d546563b6380" style="width:100%">
        <div class="text">Creando propositos</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="https://img.freepik.com/foto-gratis/mujer-agricultora-ve-tabaco-campo_1150-5860.jpg?t=st=1662960028~exp=1662960628~hmac=fc1fb3dc41127df3fff6a13556e78a80d9de7832e886e6c9a3fd6b5ca8b8b663" style="width:100%">
        <div class="text">Creer en el campo</div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" style="float:right">&times;</span>
        <div class="container">
        <div class="row" > 
                <div class="col-6">
                    <h2>Regístrate</h2>
                    <p>Por favor llena este formato para crear una cuenta.</p>
                    {% with messages = get_flashed_messages(category_filter=['cita']) %}
                        {% if messages %}
                            <div class="alert alert-danger">
                                {% for message in messages %}
                                    <p>{{message}}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %} 
                    <form action="/register" method="post">
                        <div class="form-group">
                            <label for="first_name">Nombre</label>
                            <input type="text" name="first_name" id="first_name" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="last_name">Apellido</label>
                            <input type="text" name="last_name" id="last_name" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="text" name="email" id="email" class="form-control" placeholder="Ingresa correo electronico">
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Ingresa una contraseña de 6 caracteres">
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirmación de Contraseña</label>
                            <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Por favor repetir contraseña">
                        </div>
                        <input type="submit" value="Registrarme" class="btn btn-primary" style="margin-top:10px;">
                        <p>Al crear esta cuenta estas de acuerdo con nuestro <a href="#" style="color:dodgerblue; margin-top: 10px;">Termino y privacidad</a>.</p>
                    </form>
                </div>
                <div class="col-6">
                    <h2>Inicia Sesión</h2>
                    {% with messages = get_flashed_messages(category_filter=['login']) %}
                        {% if messages %}
                            <div class="alert alert-danger">
                                {% for message in messages %}
                                    <p>{{message}}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %} 
                    <form action="/login" method="post">  <!-- inicio de sesion -->
                        <div class="form-group">
                            <label for="email2">E-mail</label>
                            <input type="text" name="email" id="email2" class="form-control" placeholder="Ingresa el correo registrado">
                        </div>
                        <div class="form-group">
                            <label for="password2">Contraseña</label>
                            <input type="password" name="password" id="password2" class="form-control" placeholder="Ingresa contraseña">
                        </div>
                        <input type="submit" value="Inicia Sesión" class="btn btn-warning" style="margin-top:10px;" >
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>


    <footer class="cookie">
        <img src="static/img/images/aspho.PNG"  id="icon">
        <p> This site makes use of third-party cookies, by clicking "I accept"
            you agree to the terms outlined in our <a href="#"> cookie policy.</a>
        </p>
        <div id="box-3" onclick="aceptar()"> I Accept</div>
    </footer>
    <script src="static/proyect.js"></script>
</body>
</html>



<!-- ideas  aisladas -->
            <!-- <div  class="logo">
                <img src="static/img/images/aspho.PNG"  id="icon">
                <h1 class="title">Campomercio</h1>
                Button to open the modal -->
                <!-- <div id="rigth" onclick="document.getElementById('id01').style.display='block'" class="btn btn-secundary"> Sign up</div> -->
            <!-- </div>  -->
            <!-- <h1 style=color:black> Creciendo el campo</h1> -->